
body {

    font-family: "Rethink Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;

    margin: 0 0 0 0;

    background-color: #eee;
}


.Center_Div {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-content: center;
    align-self: center;
}

.Soru_Bölümü {
    width: 75vw;
    height: auto;
    background-color: yellow;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px 15px 15px 15px;

    /* Add border and shadow*/
}

.Soru {
    margin: 5px 0px 0px 10px;
    font-size: 22.5px;
    font-weight: 600;
    font-style: italic;
}


.Input-Div {
    margin: 15px;
    display: block;

    background-color: aliceblue;
}


.Sonuc_Bölümü {
    width: 75vw;
    height: auto;
    background-color: rgb(153, 153, 153);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px 15px 15px 15px;

    /* Add border and shadow*/
}


.Sonuc {
    font-size: 22.5px;
    font-weight: 600;
    font-style: italic;

    margin: 0;
}


.Siralama {

}


.Siralama_Sifati {

    font-size: 20px;
    font-weight: 600;

    margin: 10px 5px 5px 5px;

}


.Selected {

    color: red;
    font-size: 25px;

    transition: all 1.5s;

}


.Anket_Bilgisi {

    border: 1px solid black;
    border-radius: 5px;

    margin-top: 15px;
    margin-bottom: 10px;

}


.Anket_Bilgisi p {

    margin-left: 15px;

    display: inline-block;

}