
body {

    font-family: "Rethink Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;

    margin: 0 0 0 0;

    background-color: #eee;
}


.Center_Div {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-content: center;
    align-self: center;
}

.Soru_Bölümü {
    width: 75vw;
    height: auto;
    background-color: #ffca57;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px 15px 15px 15px;

    /* Add border and shadow*/

    border-radius: 7.5px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 45px 0px;

}

.Soru {

    margin: 5px 0px 0px 10px;
    padding: 5px 5px 5px 15px;

    font-size: 25px;
    font-weight: 700;
    font-style: italic;

    border: 3px solid #eee;
    border-radius: 5px;

}


.Input-Div {
    margin: 15px;
    display: block;

    background-color: transparent;

    border-bottom: 1px #eee dashed;

}

.Input-Div label {
  

    font-size: 20px;
    font-weight: 500;
}


.Sonuc_Bölümü {
    width: 75vw;
    height: auto;
    background-color: transparent;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px 0px 15px 0px;

    /* Add border and shadow*/

    border: 10px solid #FF9933;
    border-radius: 10px;
}


.Sonuc_Title {
    font-size: 22.5px;
    font-weight: 600;
    font-style: italic;

    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;


}


.Siralama {

}


.Siralama_Sifati {

    font-size: 20px;
    font-weight: 600;

    margin: 10px 5px 5px 5px;

}


.Selected {

    color: #00C2EB;
    border-radius: 5px;

    list-style: inside;

    font-size: 30px;

    transition: all 1.5s;

}


.Anket_Bilgisi {

    border-bottom: 10px solid #FF9933;

    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0;

}


.Anket_Bilgisi p {

    margin-left: 15px;

    display: inline-block;

}


#İlgi_Çekici_Baslik {
    top: 15%;
    left: 50%;

    transform: translate(-50%,-50%);

    position: fixed ;

    width: max-content;

}
@media (max-width: 767px) {
    #İlgi_Çekici_Baslik {
        width: auto !important;
        top: 7.5%;
        font-size: 28px;
    }
    /*#Mezuniyet_Sapkasi {
        opacity: 0;
    }
    #Cetvel {
        opacity: 0;
    }
    #Ucan_Cetvel_Kalem {
        opacity: 0;
    }
    #Acik_Kitap_1 {
        opacity: 0;
    }*/
}


#Geri_Dön_Butonu {

    position: fixed;

    bottom: 0%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: #FF9933;

    width: max-content;
    height: max-content;

    padding: 5px 5px 5px 5px;

    border: 1px #FF9933 solid;
    border-radius: 5px;

    cursor: pointer;

    transition: all 0.5s;

}

#Geri_Dön_Butonu:hover {

    background-color: #FFB333;
    color: #FFFFFF; 

    padding-left: 15px;
    padding-right: 15px;

    width: max-content;
    height: max-content;

    font-size: 20px;

}



/* 
    ////////////////      DECORATION PART     ///////////////////
*/


#Acik_Kitap_2 {

    transform: translate(-50%, -50%);

    position: fixed;
    
    bottom: 2.5%;
    right: 2.5%;

    transform: rotate(15deg);

}


#Ucan_Cetvel_Kalem {

    transform: translate(-50%, -50%);

    position: fixed;
    
    top: 10%;
    right: 5%;

}


#Ampullu_Kitap {

    transform: translate(-50%, -50%);

    position: fixed;
    
    bottom: 0%;
    left: 5%;

}



#Kalem_1 {

    transform: translate(-50%, -50%);

    position: fixed;
    
    top: 50%;
    left: 6%;

}


#Cetvel {

    transform: translate(-50%, -50%);

    position: fixed;
    
    top: 7%;
    left: 12%;

    transform: rotate(30deg);

}


#Mezuniyet_Sapkasi {

    transform: translate(-50%, -50%);

    position: fixed;
    
    top: 1%;
    left: 1%;

    transform: rotate(-20deg);

}


#Acik_Kitap_1 {

    transform: translate(-50%, -50%);

    position: fixed;
    
    top: 1%;
    left: 50%;

    transform: rotate(20deg);

}


#Silgi {

    transform: translate(-50%, -50%);

    position: fixed;
    
    bottom: 1%;
    left: 45%;

}

#Kalem_2 {

    transform: translate(-50%, -50%);

    position: fixed;
    
    bottom: 5%;
    left: 55%;

    transform: rotate(-90deg);

}