:root {
    --Background_Color: #ffffff;
    --Text_Color: #000000;
    --Main_Group_Color: rgb(208,215,255,0.5);
    --Second_Grop_Color: rgba(172, 212, 255, 0.25);
}

body{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 600;
}

main {
    margin: 0 0 0 0;
}


.Bölüm_Seçimi {
    width: 100%;
    height: auto;
}


.Konu_Grubu {
    width: 90vw;
    height: max-content;
    background-image: linear-gradient(150deg, rgb(208,215,255,0), rgb(208,215,255,0.75));
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    place-content: center;
    place-self: center;
    justify-content: center;
    margin: 0 0 0 0;
    border-radius: 20px;
    border-color: #eeeeee;
    border-style: solid;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 2.5vw;
}

.Konu_Grubu p {
    background-color: var(--Second_Grop_Color);
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 7.5px;
    box-shadow: var(--Second_Grop_Color) 0px 0px 9px;
    text-align: center;
}

.Block {
    display: block;
}

.Anket_Sorusu {
    font-style: italic;
}

.List {
    list-style: decimal;
}

.Google_Anket {
    width: 75vw;
    height: 500px;
}

.Kalıp {
    font-weight: 400;
}

.Konu_Grubu {
    opacity: 0;
    transition: all 1s ease;
}

.Show {
    opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
    display: flex;
    align-items: center;
    place-content: center;
}

.Bir_Satırlık_Boşluk {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    margin-top: 5vh;
}

li {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.Örnekler {
    padding: 0px 0px 0px 5px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 1vw;
    border-radius: 5px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    list-style: disc;
}

.Örnekler li {
    margin-left: 2.5vw;
}

.Bölüm_Çizgisi {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: block;
    height: 0.75vh;
    background-color: black;
    border-radius: 5px;
    box-shadow: grey 0px 0px 9px;
}


.Liste_2x5 {
    height: 40vh;
    width: 60vw;
    display: grid;
    justify-self: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    column-gap: 1vw;
    row-gap: 1vh;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
}

.Liste_2x5 div {
    border-color: #000000;
    border-style: hidden;
    margin-top: 1vh;
    margin-left: 0.5vw;
    margin-bottom: 1vh;
    margin-right: 0.5vw;
    font-size: 30px;
}

.Center_Div {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-content: center;
    align-self: center;
}